In [49]:
import pandas as pd

In [51]:
df = pd.read_csv('Resources/purchase_data.csv')
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
Players_cnt = df['SN'].count()

In [5]:
Unique_Item_Cnt = len(df['Item Name'].unique())

In [6]:
Average_Purchase_Price = df['Price'].mean()

In [7]:
Total_Purchases = df['Purchase ID'].count()

In [8]:
Total_Revenue = df['Price'].sum()

In [9]:
Male_Players = df.loc[(df["Gender"] == "Male"), "Gender":"Gender" ].count()

In [10]:
Percent_Male = round(Male_Players / (df['Gender'].count()) * 100 , (2))

In [11]:
Female_Players = df.loc[(df["Gender"] == "Female"), "Gender":"Gender" ].count()

In [12]:
Percent_Female = round(Female_Players / (df['Gender'].count()) * 100 , (2))

In [13]:
Other_Players = df.loc[(df["Gender"] == "Other / Non-Disclosed"), "Gender":"Gender" ].count()

In [14]:
Percent_Other = round(Other_Players / (df['Gender'].count()) * 100, (2))

In [15]:
Purchase_Group = df.groupby('Gender')

In [16]:
Grp_Prchs_Cnt = Purchase_Group['Purchase ID'].count()

In [17]:
Grp_Avg_Prchs_Prc = Purchase_Group['Price'].mean()

In [18]:
Grp_Ttl_Prchs_Val = Purchase_Group['Price'].sum()

In [19]:
Purchase_Group = df.groupby(['Gender', 'SN'])

In [20]:
max_age = df['Age'].max()

In [22]:
min_age = df['Age'].min()

In [25]:
bins = [7,11,15,19,23,27,31,35,39,43,47]

In [60]:
df["Age Demographics"] = pd.cut(df["Age"], bins , include_lowest=True)
Purchase_Cnt_Age = df.groupby('Age Demographics')['Price'].count()

In [61]:
Avg_Purchase_cnt_Age = df.groupby('Age Demographics')['Price'].mean()

In [85]:
Total_Purch_Value_Age = df.groupby('Age Demographics')['Price'].sum()

In [104]:
Avg_Purch_Total_Persn_Age = df.groupby(['Age Demographics' , 'SN'])['Price'].sum()

In [117]:
Group_Spenders = df.groupby('SN')['Price'].sum()
Group_Spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [125]:
Top_5_Spenders = Group_Spenders.nlargest(5, '', keep='all' )

TypeError: nlargest() got multiple values for argument 'keep'

In [107]:
Purchase_Top_5 = df.nlargest

In [58]:
Purchase_Top_5.head()

AttributeError: 'function' object has no attribute 'head'